body {
	background: grey;
}
#attachId {
	padding-left: 1cm;
	text-decoration: italic;
	/*color: white;*/
}
.date {
	color: #CCCCCC;
	font-style: italic;
}
.username {
	font-weight: bold;
}
.settings_box {
	padding-left: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #989898;
}
li {
	padding-left: 1cm;
}
hr {
	color: #CCCCCC;
}
h1 {
	padding: 0;
	/*margin: 0;*/
}
a img {
	border: 0 solid;
	text-decoration: none;
	color: black;
	padding-right: 3px;
}